body {
    font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.top-section {
  display: flex;
  padding: 20px;
  background-color: #f9f9f9;
}

.left-image img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.right-content {
  margin-left: 20px;
}
.right-content h1 {
  margin-top: 0;
}

.bottom-section {
  padding: 20px;
  background-color: #ffffff;
}

.back-button {
  padding: 20px;
  text-align: right;
}

.back-button button {
  padding: 10px 20px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


.back-button button:hover {
  background-color: #A0522D;

}

a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:hover {
  background-color: #ddd;
  color: black;
}

.previous {
  background-color: #f1f1f1;
  color: black;
}

.next {
  background-color: #04AA6D;
  color: white;
}

.round {
  border-radius: 50%;
}



